---
layout: page
title: Lab Events
permalink: /events
---
<div class='news-events'>

  <h5 class='purple'>2019 Fall Quarter LDP Lab Meetings</h5>

  <div class='div20'></div>

  <ul>
    {% for event in site.data.events.lab-meetings %}
      <li>
        <span style='text-transform:uppercase;'>{{ event.date }} @ {{ event.time }}, {{ event.place }}</span>
        <br>
        {% if event.speaker %}{{ event.speaker }}<br>{% endif %}
        <i>{{ event.title }}</i>
      </li>
    {% endfor %}
  </ul>

  <div class='div20'></div>

  <h5 class='purple'>Upcoming Conferences</h5>

  <div class='div20'></div>

  <ul>
    <li>The LDP Lab is scheduled to participate at <a target='_blank' href='http://www.bu.edu/bucld/'>the Boston University Conference on Language Development (BUCLD)</a>!</li>
    <li>The LDP Lab will be traveling to San Diego to attend <a target='_blank' href='https://acousticalsociety.org/asa-meetings/)'>the Acoustical Society of America (ASA) annual meeting</a>.</li>
  </ul>

</div>