---
layout: page
title: Lab Events
permalink: /events/
---
<div class='news-events'>

  <!-- lab meetings -->
  <h5 class='purple'>Fall Quarter LDP Lab Meetings</h5>

  <div class='div20'></div>

  <p><!-- To foster interdisciplinary research and cross-departmental collaboration, the Spring 2020 LDP lab meetings will be run jointly with the UW's Child Language Research Lab, directed by <a href='https://sphsc.washington.edu/content/amy-e-pace'>Dr. Amy Pace</a> from the Department of Speech and Hearing Sciences. --> In Fall Quarter of 2020, the LDP Lab meetings will be held virtually on Zoom. We will meet every other Friday at 9:00 am PST, starting on October 2. The first meeting will be organizational, and the topics of all subsequent meetings will be announced after the first meeting. If you’d like to be added to the lab email list, please contact Dr. Ferjan Ram&#237;rez by email.</p>

  <div class='div10'></div>

  <ul>
    {% for event in site.data.events.lab-meetings %}
      <li>
        <span style='text-transform:uppercase;'>{{ event.date }}{% if event.time %} @ {{ event.time }}{% endif %}{% if event.place %}, {{ event.place }}{% endif %}</span>
        <br>
        {% if event.speaker %}{{ event.speaker }}<br>{% endif %}
        <i>{{ event.title }}</i>
      </li>
    {% endfor %}
  </ul>

  <div class='div20'></div>

  <!-- conferences -->
  <h5 class='purple'>Recent and Upcoming Conferences</h5>

  <div class='div20'></div>

  <ul>
    <li>The LDP Lab participated at the <a target='_blank' href='https://infantstudies.org/congress-2020/'>International Congress of Infant Studies</a> (ICIS) 2020</li>
    <li>The LDP Lab will participate at the <a target='_blank' href='https://www.mpi.nl/events/many-paths-language-mpal'>Many Paths to Language Workshop</a> (MPAL) 2020</li>
    <li>The LDP Lab will participate at the <a target='_blank' href='http://www.bu.edu/bucld/conference-info/bucld-45-virtual-conference/'>Boston University Conference on Language Development</a> (BUCLD) 2020</li>
  </ul>

  <div class='div20'></div>

</div>