---
layout: page
title: Papers
permalink: /papers/
---

<u>Last updated: {{ site.data.papers.last-updated }}</u>

<div class='div20'></div>

<h4 class='purple'>Downloadable papers</h4>

<div class='div10'></div>

<ul>
  {% for paper in site.data.papers.downloadable %}
    <li>
      <p>
        {{ paper.citation }}
        <span class='purple'>
          {% for link in paper.links %}
            {% if link[1] contains "http" %}
            [<a href='{{ link[1] | uri_escape }}' target='_blank'>{{ link[0] }}</a>]
            {% else %}
            [<a href='{{ site.paper_url }}/{{ link[1] | uri_escape }}' target='_blank'>{{ link[0] }}</a>]
            {% endif %}
          {% endfor %}
        </span>
      </p>
    </li>
  {% endfor %}
</ul>
