---
layout: default
title: Lab Members
permalink: /people/
---

<!-- lab members -->
<div class='center'>
  <div class='row'>
    <div class='masonry'>
      {% for member in site.data.members.current %}
        {% include profile.html %}
      {% endfor %}
    </div>
  </div>
</div>

<div class='div45'></div>

<!-- student plug -->
<div class='mx-auto center'>
  <h4 class='purple'>Students:</h4>
  <p style='margin: 0 10%;'>Dr. Ferjan Ram&#237;rez is always interested in mentoring curious, passionate, and motivated students! If you are interested in hearing about upcoming research opportunities in the lab, please email her directly at <span class='purple'>naja@uw.edu</span>.</p>
</div>

<!-- masonry js -->
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.js'></script>
